---
apiVersion: v1
data:
{% for kv in item.data %}
  "{{ kv.key }}": "{{ kv.value }}"
{% endfor %}
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
type: {{ item.type }}
